
body {
  font-family: 'Oswald', sans-serif;
  background-color: $body-color;
}

p {
  font-family: 'Crimson Text', serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

.navbar-menu {
 font-size: 20px;

}

.navbar-menu ul li a{
  color: #000;
}

.navbar-menu ul li a:hover{
  color: #7e7e7e;
}

.navbar-border {
  border-bottom: #000 solid;
  background-color: $body-color;
}

.navbar-social{
  float: right;
}

.navbar-social a{
  color: #000;
  font-size: 20px;
  padding: 10px;
}

.navbar-social a:hover{
  color: #7e7e7e;
}

// main

.main-background {

  height:100vh;
  background:
  url(/assets/img/ilustracao-left-mantimento.png) top left no-repeat,
  url(/assets/img/ilustracao-right-mantimento.png) top right no-repeat;
  background-size: 40%;
}