$color-font: #3c2922;
$body-color: #ecdbd1;
$backgroud-color-green: #92c07d;
$backgroud-color-pink: #f1dbc6;
$backgroud-color-footer: #23633f;
$backgroud-color-pink-text:#ecdbd1;
$backgroud-color-pink-social: #e7927e;

